{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Transacted</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
                <tr>
                   <td>{{ row.symbol }}</td>
                   {% if row.type == 1 %}
                       <td>{{ row.shares }}</td>
                   {% else %}
                       <td>-{{ row.shares }}</td>
                   {% endif %}
                   <td>${{ row.price }}</td>
                   <td>{{ row.buy_date }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}
